{% extends 'base.html' %}

{% block title %}
  Ваши проекты
{% endblock %}

{% block content %}
      <div class="container">
      {% if  count_of_project == 0 %}
          <div class="border border-dark rounded p-2 m-3">
        <h1>У Вас пока нет проектов.</h1>
    </div>
      {% else %}
          {% if author_projects_list %}
                  <h1>Ваши проекты</h1>
              <div class="row g-0 justify-content-center">
                  {% for project in author_projects_list %}
                  <div class="col-sm-4">

                  <div class="m-2 p-2 border border-dark rounded">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="{% url 'todo:project_details' project.pk %}"><h2>{{ project.name }}</h2></a>
                  </li>
                  <li class="list-group-item">
                    Курирует: {{ project.author.get_full_name }}
                  </li>
                  <li class="list-group-item">
                    Дедлайн: {{ project.deadline|date:"d E Y" }}
                  </li>
                      <li class="list-group-item">{{ project.description }}</li>
                    </ul>
                  </div>

                  </div>
                  {% endfor %}
                  </div>
              {% endif %}
          {% if executor_projects_list %}
                  <h1>Проекты, в которых Вы задействованы</h1>
              <div class="row g-0 justify-content-center">
                  {% for project in executor_projects_list %}
                  <div class="col-sm-4">

                  <div class="m-2 p-2 border border-dark rounded">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="{% url 'todo:project_details' project.pk %}"><h2>{{ project.name }}</h2></a>
                  </li>
                  <li class="list-group-item">
                    Курирует: {{ project.author.get_full_name }}
                  </li>
                  <li class="list-group-item">
                    Дедлайн: {{ project.deadline|date:"d E Y" }}
                  </li>
                      <li class="list-group-item">{{ project.description }}</li>
                    </ul>
                  </div>

                  </div>
                  {% endfor %}
                  </div>
              {% endif %}
      {% endif %}
      </div>
{% endblock %}