{% extends 'base.html' %}

{% block title %}
  Ваши проекты
{% endblock %}

{% block content %}
      <div class="container">
      <div class="row row-cols-3">
          {% for project in projects_list %}
          <div class="col">
        <ul>
          <li>
            Автор: {{ project.author.get_full_name }}
          </li>
          <li>
            Дата публикации: {{ project.start_time|date:"d E Y" }}
          </li>
        </ul>
        <p>{{ project.description }}</p>
          <a href="{% url 'todo:project_details' project.pk %}">подробная информация </a>
          </div>
          {% endfor %}
          </div>
      </div>
{% endblock %}